.container-login {
  display: flex;
  margin: auto;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titulo-login {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: var(--texto);
}

.formulario-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: var(--fundo-componentes);
  border-radius: 10px;
  margin: 20px;
  justify-content: center;
}

.reset-a {
  color: white;
  text-decoration: none;
}