body {
  background-color: var(--fundo);
}

.content {
  max-width: 1980px;
  margin: 0 auto;
}

:root {
  --texto: white;
  --fundo: #5CCFE6;
  --fundo-componentes: #fcfcfc;
  --hover: #4698a8;
  --ativo: #56b3c5;
}