.container-table {
  display: flex;
  flex: 1;
  justify-content: center;
  border-radius: 10px;
  margin: 20px 70px;
  max-height: 70%;
}

.table, .botao {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.table {
  border-radius: 1px;
  font-size: 0.9em;
  border-collapse: separate;
  width: 100%;
}


.table tbody tr:nth-of-type(odd) {
  background-color: #ebfbff;
}

.botao {
  color: var(--texto);
  font-weight: bold;
  background-color: var(--fundo);
  border: none;
  border-radius: 3px;
  padding: 3px 7px;
}

.botao:hover {
  background-color: var(--botao-hover);
}

.botao:active {
  background-color: var(--fundo);
}